@import '../../assets/scss/variable.scss';
.swiper-container {
    width:100%;
    .swiper-img {
        max-width: 100%;
        display: inline-block;
    }
    .swiper-pagination-bullet {
        display: inline-block;
        margin: 0 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $color-text-l;
        &.swiper-pagination-bullet-active {
            width: 20px;
            border-radius:5px;
            background: $color-text-ll;
        }
    }
}